.carrito {
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: absolute;
    background: var(--light);
    padding: 1rem;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 999;

    &.active {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
}

#overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 900;
}